.blog-area {
  padding-top: 120px;
  .blog-area-container {
    .blog-content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 0 -15px;
      .blog-item {
        padding: 0 15px;
      }
    }
  }
}
