.exclusive-car {
  padding: 120px 0;
  .exclusive-car-container {
    .exclusive-heading {
      display: flex;
      justify-content: center;
      p {
        color: #868686;
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 12px;
        letter-spacing: 3px;
      }
    }
  }
}
