.features-area {
  background-color: #f7f7f7;
  padding: 120px 0 90px;
  .features-container {
    gap: 0 30px;
    .features-item {
      background-color: $whiteColor;
      box-shadow: 0px 5px 14.88px 1.12px rgb(157 157 157 / 15%);
      border-radius: 4px;
      padding: 55px 30px;
      .features-img {
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .features-title {
        font-size: 1.8rem;
        margin-bottom: 12px;
        font-weight: 700;
      }
    }
  }
}
