.features-area {
  background-color: #f7f7f7;
  padding: 120px 0 90px;
  .features-container {
    gap: 0 30px;
    .features-item {
      box-shadow: 0px 5px 14.88px 1.12px rgb(157 157 157 / 15%);
    }
  }
}
