body {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
}

.dflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}