.header-top {
    max-width: 100%;
    height: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: $textColor;
    font-size: 1.2rem;
    &-left {
        display: flex;
        li {
            display: flex;
            align-items: center;
        }
    }
}