.release-cars {
  padding: 120px 0;
  .release-car-container {
    .release-title {
      margin-bottom: 35px;
      position: relative;
      text-align: center;
      .title-blur {
        position: absolute;
        top: -100%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 8.7rem;
        color: #f3f3f3;
        opacity: 0.4;
        font-weight: 700;
        z-index: -1;
      }
      span {
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 3px;
        color: #868686;
        display: block;
        margin-bottom: 12px;
      }
      h2 {
        font-size: 3.6rem;
        font-weight: 700;
        color: #323232;
      }
    }
    .menu-car {
      .menu-control {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 12px;
        margin-bottom: 55px;
        .btn-menu-car {
          font-size: 1.2rem;
          font-weight: 700;
          line-height: 1;
          color: #646161;
          padding: 11px 20px;
          border: 1px solid #e9e9e9;
          border-radius: 50px;
          background-color: #f3f3f3;
        }
        .btn-menu-car.active {
          color: $whiteColor;
          background-color: $primaryColor;
        }
      }
      .car-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px 30px;
        .car-item {
          border-radius: 5px;
          overflow: hidden;
          box-shadow: 0px 3px 12.09px 0.91px rgb(105 105 105 / 13%);
          padding-bottom: 13px;
          background-color: $whiteColor;
          display: flex;
          flex-direction: column;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 13px;
            background-color: #ff5400;
            opacity: 0.18;
            transition: 0.3s linear;
          }
          &:hover::after {
            opacity: 1;
          }
          .car-item-img {
            flex-shrink: 0;
            a {
              display: block;
              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }
          }
          .car-item-content {
            padding: 25px 30px 15px;
            flex: 1;
            .car-content-info {
              margin-bottom: 30px;
              text-align: center;
              h2 {
                margin-bottom: 10px;
                a {
                  color: #282828;
                  text-decoration: none;
                  font-size: 1.8rem;
                  font-weight: 700;
                  transition: 0.15s linear;
                  &:hover {
                    color: $primaryColor;
                  }
                }
              }
              span {
                color: #9c9c9c;
                font-size: 1.4rem;
                font-weight: 500;
              }
            }
            .car-content-desc {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-bottom: 17px;
              margin-bottom: 20px;
              border-bottom: 1px dashed #e1e1e1;
              .car-desc1 {
                color: #7e7e7e;
                font-size: 1.2rem;
                font-weight: 500;
                display: flex;
                align-items: center;
                i {
                  font-size: 1.3rem;
                  margin-right: 8px;
                }
                &:last-child {
                  i {
                    color: $primaryColor;
                  }
                }
              }
            }
            .car-content-interaction {
              display: flex;
              justify-content: space-between;
              align-items: center;
              .car-rating {
                font-size: 1.2rem;
                letter-spacing: -1px;
                i {
                  color: #f39c12;
                }
              }
              .car-price {
                color: #7f7e7e;
                font-size: 1.2rem;
                font-weight: 500;
                padding: 6px 0 10px;
                span {
                  color: #323232;
                  font-size: 1.8rem;
                  font-weight: 500;
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
