.release-cars {
  padding: 120px 0;
  .release-car-container {
    .release-title {
      margin-bottom: 35px;
      position: relative;
      text-align: center;
      .title-blur {
        position: absolute;
        top: -100%;
      }
      span {
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 3px;
        color: #868686;
        display: block;
        margin-bottom: 12px;
      }
      h2 {
        font-size: 3.6rem;
        font-weight: 700;
        color: #323232;
      }
    }
  }
}
